* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-section{
  background-color: #1F2937;
}

.navbar {
  display: flex;
  color: #F9FAF8;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-left,.navbar-right{
  display: flex;
  justify-content: center;  
  width: 50%;
}

.header-logo {
  font-size: 24px;
  margin-right: 230px;
}

ul {
  display: flex;
  gap: 20px;

}

.hero-content {
padding-top: 10px;
  display: flex;
}

.content-left,.content-right {
  width: 50%;
}

.content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content-right{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-right: 100px;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;

}

.hero-p {
  padding-top: 5px;
  font-size: 18px;
  color: #E5E7EB;
  align-self: center;
  padding-left: 95px;
}

.signup-button {
  background-color: #3882f6;
  border: none;
  font-weight: bold;
  align-items: center;
  color: #E5E7EB;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  margin-top: 5px;
  margin-right: 195px;
  border-radius: 10px;
}

.signup-button:hover {
  opacity: 0.8;
}


.second-title {
  display: flex;
  justify-content: center;
}

.random-information {
  padding-top: 20px;
  padding-bottom: 20px;
  color:#1F2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;

}

.row-of-boxes {
  display: flex;
  flex-direction: row;
  gap:40px;
  justify-content: center;
  padding-top: 20px;
}

.box-blue {
  display: flex;
  height: 130px;
  width: 130px;
  padding: 20px 30px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  padding-bottom: 10px;
  

}

.p-second {
  padding-top: 5px;
  text-align: center;
}